<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.a404dalmations.superstudentscheduler"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AccountActivity"/>
        <activity android:name=".MenuActivity"/>
        <activity android:name=".SemesterActivity"
                  android:label="Schedule"
                  android:parentActivityName=".MenuActivity"/>
        <activity android:name=".Courses.ScheduleActivity"
                  android:label="Schedule"
                  android:parentActivityName=".SemesterActivity"/>
        <activity android:name=".Courses.AddCourse"
                  android:label="Add Course"
            android:parentActivityName=".Courses.ScheduleActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".FinancialStart"
                  android:label="Finances"
                  android:parentActivityName=".MenuActivity"/>
        <activity android:name=".Financial"
                  android:label="Finances"
                  android:parentActivityName=".FinancialStart"/>
        <activity android:name=".RemoveCourseActivity"
            android:parentActivityName=".MenuActivity"/>
        <activity android:name=".AddTaskActivity"/>
    </application>
</manifest>